<!-- <div class="container-fluid navbar">       
         <div class=" navbar-static-bottom">                 
             <center>
               For enquiries, please contact our Webmaster. 
                            Copyright © 2013 Runiah School. All rights reserved.
             </center>           
         </div>
       
</div>  -->


<footer>
    <div class="container ">
        <div class="row">
            <div class="widget span3">                
            </div>
            <div class="widget span3">                
            </div>
            <div class="widget span3">              
            </div>
            <div class="widget span3">
                <h4>Contact Us</h4>
                <p><i class="icon-map-marker"></i> Address: gagak street no 25(23), makassar, Indonesia</p>
                <p><i class="icon-phone"></i> Phone: 0411876060</p>
                <p><i class="icon-print"></i> Fax: 0411876073</p>
                <p><i class="icon-envelope-alt"></i> Email: <a href="" class="violet">admin@runiah-school.com</a></p>
            </div>
        </div>
        <div class="footer-border"></div>
        <div class="row">
            <div class="copyright span4">
                <p>Copyright 2014 Runiah-School - All rights reserved.</p>
            </div>
            <div class="social span8">
                
            </div>
        </div>
    </div>
</footer>


<!-- 172108201468   GBMPQA40IT -->


