<!-- <div class="container-fluid navbar">       
         <div class=" navbar-static-bottom">                 
             <center>
               For enquiries, please contact our Webmaster. 
                            Copyright © 2013 Runiah School. All rights reserved.
             </center>           
         </div>
       
</div>  -->



<div class="container footer">
    <div class="row">            
        <div class="span8 ">                       
        <!-- <h4><i>"Inclusive And Supportive School Where Learning Is Fun"</i></h4>   -->                   
        </div>
        <div class="widget span4"></div>        
        <div class="footer-border"></div>
        <div class="row">
            <div class="copyright span12">
            <p>Copyright 2014 Runiah-School - All rights reserved.</p>
            </div>
        </div>             
    </div>
</div>


        


<!-- 172108201468   GBMPQA40IT -->


