<% content_for :yellow_nav do %>
   <%= render 'shared/yellow_nav' %>  
<% end %>

<!-- Site Description -->
<div class =" presentation container">
  <div class="row">
    <div class="intro span12">
    </div>
  </div>  
  <div class="row">
    <div class="span8 bg">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <p class="lead">
          Membentuk LANDASAN (Faith) dan CARA BERPIKIR (Higher Level Of Thinking/Scientific Approach) 
        </p >       
        <p class="lead">yang melahirkan ADAB PERILAKU (Scientific Culture) dan MEMAKSIMALKAN POTENSI (Talent and Ability) </p>
        <p class="lead">untuk Sukses DUNIA-AKHIRAT</p>  
       </br>
       </br>
 
      <p id="lead2"> <strong>Inclusive and Supportive School | Where Learning is Fun </strong></p>
    </div>
    <div class="span4 hidden-phone"> 
        <img src='assets/children_web.png' alt='child' width='20%' height='20%' id="child"></img>
    </div>
  </div>  
</div>

<% content_for :footer do %>
    <%= render 'shared/footer' %>
<% end %>



	


