<!-- Site Description -->
<div class="presentation container">
  	<div class="intro span12 aligncenter">
  		<h1>High Quality Education</h1>
      <h2 ><span class="violet">Start From Here</span></h2>
  		<p class="lead">
  			Membentuk LANDASAN (Faith) dan CARA BERPIKIR (Higher Level Of Thinking/Scientific Approach) 
  		</p >
      <p class="lead">yang melahirkan ADAB PERILAKU (Scientific Culture) dan MEMAKSIMALKAN POTENSI (Talent and Ability) </p>
      <p class="lead">untuk Suskes Dunia Akhirat</p>
  	</div>
</div>


	


