
<% content_for :title, "Home" %>


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="hero-unit">
        <h1>Education is great</h1>
        <h3>Are you looking for the best school for your child?</h3>
        <p >Contact Us For More Informations</p>
        
        <p>
          <%= render file: "messages/_form" %>
          <%#= link_to 'More', pre_school_path, class: "btn btn-large btn-success" %>
        </p>
      </div>
    </div>
    <div class="item">
      <div class="hero-unit">
        <h1>Pre School</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>
          <%= link_to 'More', pre_school_path, class: "btn btn-large btn-success" %>
        </p>
      </div>
    </div>
    <div class="item"><div class="hero-unit">
  <h1>Primary-school</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p>
    <%= link_to 'More', primary_school_path, class: "btn btn-large btn-success" %>
  </p>
</div></div>
    <div class="item"><div class="hero-unit">
  <h1>About Us</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p>
    <%= link_to 'More', about_path, class: "btn btn-large btn-success" %>
   
  </p>
</div></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

      

