<% content_for :title, "Home" %>
<!-- <div class="hero-unit">
  <h1>Empowering Minds!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p>
    <a class="btn btn-large btn-success" href="#">Visit Us</a>
  </p>
</div> -->

<div id="myCarousel" class="carousel slide">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Carousel items -->
        
        
        <div class="carousel-inner">
            <div class="active item">
              <div class="container">
                 <div class="hero-unit">
                   <center><h2>Heading 1</h2></center>
                             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                             <p><a class="btn" href="#">View details »</a></p>
                 </div>
              </div>
            </div>         
          
            <div class="item"> 
              <div class="container">
                 <div class="hero-unit">
                   <center><h2>Heading 2</h2></center>
                             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                             <p><a class="btn" href="#">View details »</a></p>
                 </div>
              </div>
            </div>          
          
            <div class="item"> 
              <div class="container">
                 <div class="hero-unit">
                   <center><h2>Heading 3</h2></center>
                             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                             <p><a class="btn" href="#">View details »</a></p>
                 </div>
              </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
      

     
   