<%# title "Galleries" %>
<div class="container">
  <div class="row">
    <% for gallery in @galleries %>
    <div class="span3">
      <h2><%= link_to gallery.name, gallery %></h2>
      Images: <%#= gallery.images.size %>
    </div>
  </div>
  <div class="row">
    <% end %>
    
    <div class="span3">
      <%= link_to "New Gallery", new_gallery_path %>
    </div>
  </div>
</div>


 