// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date{
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  
}

navbar .nav > li > a {
float: none;
padding: 10px 15px 10px;
color: #777777;
text-decoration: none;
text-shadow: 0 10px 0 #ffffff;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
color: #ffffff;
background-color: #0088cc;
}

.hero-unit{
  background-image: url('/assets/brosur_runiah.jpg');
  color: #fff;
  height:340px;
  text-align: right;
  overflow: hidden;
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: #F0ECBC;
  background-size: cover;
}