.bg-image {
background-image: url("/assets/bg/noow-couch-bg4.png");
}

.featured .intro h1 {
color: rgba(0,0,0,0.7);
font-size: 48px;
}

.featured .intro p.lead {
color: rgba(0,0,0,0.5);
font-weight: 400;
}

.lead {
margin-bottom: 20px;
font-size: 21px;
font-weight: 200;
line-height: 30px;
}

