<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Editing image</h1>      
      <%= render 'form' %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= link_to 'Show', @image %> |
      <%= link_to 'Back', @image.gallery %>
    </div>
  </div>
</div>
