<p id="notice"><%= notice %></p>

<p>
  <strong>Input text:</strong>
  <%= @philosophy.input_text %>
</p>

<%= link_to 'Edit', edit_philosophy_path(@philosophy) %> |
<%= link_to 'Back', philosophies_path %>
