<p id="notice"><%= notice %></p>

<p>
  <h1>Our Philosophy</h1>
  <%= raw @philosophy.input_text %>
</p>

<%= link_to 'Edit', edit_philosophy_path(@philosophy) %>  
<%#= link_to 'Delete', @philosophy, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= link_to 'Back', philosophies_path %>
