<div class="navbar navbar">
       <div class="navbar-inner">
         <div class="container-fluid">

           <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
 
           </a>

           <div class="container-fluid nav-collapse">
             <!-- .nav, .navbar-search, .navbar-form, etc -->
             <ul class="nav nav-pills ">
                 <li><%=link_to 'Contact Us'.html_safe, root_url%></li>  
                 
                 
                         
             </ul>
           
               
 
       

             <ul class="nav nav-pills pull-right">
               <li><%=link_to '<i class="icon-facebook"></i>'.html_safe, "#" %></li>   
               <li><%=link_to '<i class="icon-twitter"></i>'.html_safe, "#"%></li>   
               <li><%=link_to '<i class="icon-google-plus-sign"></i>'.html_safe, "#" %></li>        
             </ul> 
 
 
                         </div><!--/.nav-collapse -->
                       </div>
                     </div>
                   </div> 
  