<div class="navbar navbar-static-bottom">
       <div class="navbar-inner">
         <div class="container-fluid">         
             <center>
               For enquiries, please contact our Webmaster. 
                            Copyright © 2009 Australian International School Indonesia. All rights reserved.
             </center>           
         </div>
       </div>
</div> 
