<div class="container-fluid navbar">       
         <div class=" navbar-static-bottom"> 
            <hr>        
             <center>
               For enquiries, please contact our Webmaster. 
                            Copyright © 2013 Sabril Karya Mandiri. All rights reserved.
             </center>           
         </div>
       
</div> 
